ap-input {
  display: block;

  div.label-box {
    color: var(--light-color);

    display: flex;
    flex-direction: row;

    span.label {
      flex-grow: 1;
    }
    span.count {
      visibility: hidden;
    }
  }

  &:focus-within {
    div.label-box {
      span.label {
        font-weight: bolder;
      }
      span.count {
        visibility: visible;
      }
    }
  }

  input,
  textarea {
    font-size: 16px;
    border: none;
    width: 100%;

    border-bottom: 1px solid var(--border-color);
    padding: var(--padding);

    &:focus {
      border-bottom-width: 2px;
      padding-bottom: var(--padding-bottom-focus);
    }
  }

  input {
    --padding: 15px 5px 10px;
    --padding-bottom-focus: 9px;
  }

  textarea {
    --padding: 15px 5px 30px;
    --padding-bottom-focus: 29px;

    resize: none;
    min-height: 5em;
  }
}
