app-announce-config {
  display: flex;
  flex-direction: column;

  .follow {
    padding: 30px 0;
    border-top: 1px solid var(--light-border-color);
    border-bottom: 1px solid var(--light-border-color);
    text-align: center;
  }
  .notify {
    text-align: center;
    padding: 30px 0;

    .warn {
      ap-icon {
        font-size: 20px;
        margin-bottom: 20px;
      }
      white-space: pre-line;
    }
  }

  ap-spinner {
    margin: auto;
  }
}
