app-post-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin: 10px 0;
  }

  ap-image-input {
    --img-max-width: 600px;
    --img-max-height: 200px;
  }
}
