app-about {
  div.manual {
    text-align: center;
    margin-top: 100px;
  }
  div.about {
    margin-top: 100px;
    text-align: center;

    span {
      display: block;
    }

    .name {
      font-weight: bold;
      margin-bottom: 10px;
    }

    a {
      display: inline-block;
      margin-top: 10px;
      font-size: 2em;
    }
  }
}
