ap-image-input {
  input[type='file'] {
    display: none;
  }

  button.select {
    display: block;
    margin: auto;
  }

  div.image {
    max-width: var(--max-width);

    img {
      border-radius: 5px;
      object-fit: contain;

      max-width: 100%;
      max-height: var(--max-height);

      width: var(--img-width);
      height: var(--img-height);

      &.border {
        border: 1px solid var(--light-border-color);
      }

      display: block;
      margin: auto;
    }

    button.delete {
      display: block;
      margin: 10px auto 0;
      font-size: 1.5em;
    }
  }
}

ap-image-inputt {
  text-align: center;
  .img-box {
    min-width: 100px;
    min-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;

    border: 1px solid var(--light-border-color);

    img {
      max-width: var(--img-max-width);
      max-height: var(--img-max-height);
      object-fit: contain;
    }

    div.stack {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      height: fit-content;
      margin: auto;
      span.label {
        margin-bottom: 5px;
      }
      ap-icon {
        font-size: 1.2rem;
      }
    }
  }

  ap-icon {
    z-index: 99;
  }

  input {
    display: none;
  }

  button.delete {
    margin-top: 5px;
    font-size: 1.2rem;
  }
}
