ap-clock-select {
  --num-size: 30px;
  --num-font-size: 1.2rem;
  --ampm-font-size: 1.2rem;

  &:before {
    content: '';
    padding-top: 100%;
  }

  display: flex;

  div.outer {
    position: relative;
    flex-grow: 1;
    margin: var(--num-font-size);

    > div.ampm {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        font-size: var(--ampm-font-size);
        border-radius: 5px;
        padding: 10px 15px;
        margin: 5px 0;

        cursor: pointer;
        user-select: none;
      }
    }

    .selected {
      color: var(--selected-color);
      background-color: var(--selected-bk-color);
    }

    > span.hour {
      font-size: var(--num-font-size);
      position: absolute;
      width: var(--num-size);
      height: var(--num-size);
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      user-select: none;

      padding: 25px;
      border-radius: 40%;

      // https://www.sr-research.com/circular-coordinate-calculator/
      transform: translate(-50%, -50%);
      &.hour0 {
        top: 0;
        left: 50%;
      }
      &.hour1 {
        top: 6.5%;
        left: 75%;
      }
      &.hour2 {
        top: 25%;
        left: 93.5%;
      }
      &.hour3 {
        top: 50%;
        left: 100%;
      }
      &.hour4 {
        top: 75%;
        left: 93.5%;
      }
      &.hour5 {
        top: 93.5%;
        left: 75%;
      }
      &.hour6 {
        top: 100%;
        left: 50%;
      }
      &.hour7 {
        top: 93.5%;
        left: 25%;
      }
      &.hour8 {
        top: 75%;
        left: 6.5%;
      }
      &.hour9 {
        top: 50%;
        left: 0;
      }
      &.hour10 {
        top: 25%;
        left: 6.5%;
      }
      &.hour11 {
        top: 6.5%;
        left: 25%;
      }
    }
  }
}
