app-announce {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ap-announce {
    margin-bottom: 20px;
    div.buttons {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      > * {
        margin-right: 10px;
      }
    }
  }
}
