app-announce {
  .ap-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ap-announce {
    align-self: normal;
  }

  .back {
    display: block;
    text-align: center;
    margin: 20px 0;
  }
}

/*
app-announce {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ap-announce {
    margin-bottom: 20px;
    div.buttons {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      > * {
        margin-right: 10px;
      }
    }
  }

  .deleted,
  .data-error {
    margin-bottom: 50px;
    white-space: pre-line;
    text-align: center;
  }
}
  */
