ap-image {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);

  &.loading {
    ap-icon {
      width: 1em;
      height: 1em;
      animation: 3s linear infinite blink;

      @keyframes blink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }

  div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.wrapper:not(.open) {
    max-height: 100%;
  }

  div.wrapper.open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    z-index: 999;

    padding: 10px;

    img {
      cursor: default;
    }

    ap-icon {
      cursor: pointer;
      margin-top: 20px;
      color: white;
      font-size: 30px;
    }
  }

  img {
    object-fit: contain;
    border-radius: 5px;
    overflow: hidden;

    max-width: 100%;

    &.can-open {
      cursor: pointer;
    }
  }
}
