app-announce-edit {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin: 20px 0;
  }

  .deletion-toggle {
    align-self: flex-end;
    opacity: 0.6;
  }
}
