app-announce-edit {
  padding: 10px;

  div.form {
    & > * {
      margin-top: 30px;
    }

    ap-image-input {
      --img-width: 100px;
      --img-height: 100px;
      display: block;
      margin: inherit auto;
    }

    button.submit {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    button.deletion-toggle {
      display: block;
      margin: 50px 0 0 auto;
    }
  }

  div.deletion {
    margin-top: 30px;
    text-align: center;
    white-space: pre-line;
    button {
      margin-top: 20px;
    }
  }

  .delete-modal {
    padding: 20px 10px;

    text-align: center;
    .buttons {
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
    }
  }
}
