app-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin: 20px 0;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    ap-icon {
      font-size: 1.2rem;
      margin-right: 5px;
    }
  }
}
