app-announce-create {
  div.form {
    padding: 50px 10px 0;

    & > * {
      margin-top: 30px;
    }

    button.submit {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
