app-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;

  .share {
    margin-top: 50px;
    align-self: flex-end;
    font-size: 0.9em;
    color: var(--light-color);
  }

  .deleted {
    align-self: center;
  }

  .back {
    margin-top: 50px;
    align-self: center;
    padding: 20px;
  }

  ap-spinner {
    align-self: center;
  }
}
