app-post {
  width: fit-content;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .back {
    margin-top: 50px;
    align-self: center;
  }
}
