app-post {
  ap-post {
    margin-top: 20px;
    min-height: 300px;
  }

  .share {
    margin-top: 50px;
    align-self: flex-end;
    font-size: 0.9em;
    color: var(--light-color);
  }

  .deleted {
    align-self: center;
  }

  .back {
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
  }

  ap-spinner {
    margin: auto;
  }
}
