app-announce {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    a.button {
      margin-right: 10px;
    }
  }

  a.new-post {
    align-self: center;
    margin-bottom: 20px;
  }
}
