ap-root {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .page {
    flex-grow: 1;
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto var(--page-margin-bottom);
  }
  .page.hide {
    display: none;
  }
}
