app-announce-notify {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin: 10px 0;
  }

  > .hours-grid {
    display: grid;
    display: none;
    //grid-auto-flow: column;
    grid-template-columns: repeat(6, auto);
    //grid-template-rows: repeat(6, 30px);
    gap: 10px;

    span {
      width: 50px;
      text-align: center;
      //border: 1px solid var(--light-border-color);
      background-color: var(--light-bk-color);
      border-radius: 5px;
      padding: 5px;
    }
  }

  .hours-modal {
    background-color: var(--bk-color);
    border-radius: 5px;
    padding: 20px 10px 0;
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;

    > .hours-grid {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(12, auto);
      gap: 10px;

      span {
        width: 50px;
        text-align: center;
        //border: 1px solid var(--light-border-color);
        background-color: var(--light-bk-color);
        border-radius: 5px;
        padding: 5px;
      }
    }

    div.buttons {
      align-self: stretch;
      margin-top: 20px;
      display: flex;
      align-items: center;
      .close {
        margin-left: auto;
      }
    }
  }
}
