@import '~destyle.css/destyle.css';

.firebase-emulator-warning {
  display: none;
}

html {
  --color: #333333;
  --light-color: #666666;

  --border-color: #333333;
  --light-border-color: #cccccc;

  --bk-color: white;
  --light-bk-color: #eeeeee;

  --button-hover-bk-color: #eeeeee;
  --modal-bk-color: rgba(0, 0, 0, 0.7);
  --loading-bk-color: rgba(255, 255, 255, 0.5);
  --skeleton-bk-color: #aaaaaa;

  --post-border-color: #888888;

  --selected-color: #ffffff;
  --selected-bk-color: #999999;

  --card-border-color: rgb(0 0 0 / 40%);
  --card-shadow: 1px 1px 1px rgb(0 0 0 / 10%);

  --page-margin-bottom: 70px; // for ap-navi
  --page-max-width: 600px;
}

html,
body {
  background-color: var(--bk-color);
  font-size: 16px;
  height: 100%;
}

html,
textarea,
input {
  font-family: sans-serif;
  line-height: 1.4;
  color: var(--color);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

input[type='range'] {
  cursor: pointer;
  padding: 0;
  background-color: var(--light-bk-color);
  height: 10px;
  border-radius: 5px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--color);
    width: 20px;
    height: 20px;
    border-radius: 40%;
  }
}

a {
  &:not(.button) {
    text-decoration: underline;
  }
}

button,
.button {
  display: inline-block;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;

  &:disabled {
    opacity: 0.3;
  }

  @media (hover: hover) {
    &:hover:not(:disabled):not(.anchor) {
      background-color: var(--button-hover-bk-color);
    }
  }

  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }

  &.icon {
    border: none;
    border-radius: 2px;
    padding: 4px;
    margin: 0;
    font-size: 1.4rem;
    &:hover {
      background-color: inherit;
    }
  }

  &.clear {
    border: none;
    padding: 10px;
  }

  &.small,
  &.slim {
    font-size: 0.9rem;
    padding: 5px 10px;
  }

  &.slim {
    border-width: 1px;
  }

  &.anchor {
    display: inline;
    border: none;
    text-decoration: underline;
    padding: 0;
  }

  &.full-width {
    width: 100%;
  }
}

span.disabled {
  opacity: 0.3;
}

.card {
  border-radius: 5px;
  border: 1px solid var(--card-border-color);
  box-shadow: var(--card-shadow);
}
a.card {
  display: block;
  text-decoration: none;
}

.badge {
  padding: 4px 6px;
  color: var(--bk-color);
  background-color: var(--color);
  border-radius: 999em;
}
